{
  "extends": [
    "stylelint-config-standard"
  ],
  "rules": {
    "unit-blacklist": "px",
    "color-hex-case": "upper",
    "color-hex-length": "long",
    "selector-pseudo-class-no-unknown": [true, {
      "ignorePseudoClasses": ["global"]
    }]
  }
}
