@font-face {
  font-family: rundaRegular;
  src: url('../fonts/runda-regular.eot');
  src:
    url('../fonts/runda-regular.eot') format('eot'),
    url('../fonts/runda-regular.woff2') format('woff2'),
    url('../fonts/runda-regular.woff') format('woff'),
    url('../fonts/runda-regular.ttf') format('truetype');
}

@font-face {
  font-family: rundaBold;
  src: url('../fonts/runda-bold.eot');
  src:
    url('../fonts/runda-bold.eot') format('eot'),
    url('../fonts/runda-bold.woff2') format('woff2'),
    url('../fonts/runda-bold.woff') format('woff'),
    url('../fonts/runda-bold.ttf') format('truetype');
}

* {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: rundaRegular, sans-serif;
}

.root {
  display: flex;
  align-items: center;
  width: 100%;
  height: 100%;
  min-height: 100vh;
  min-width: 100vw;
  font-size: 1rem;
}

.container {
  padding-left: 1.25rem;
  padding-right: 1.25rem;
  max-width: 42.5rem;
}

.footer {
  margin-top: 2rem;
  max-width: 9rem;
}

.logoContainer {
  animation: fade 0.5s ease-out 0s;
}

.logo {
  width: 100%;
  height: 100%;
}

.paragraph {
  margin: 0;
  margin-top: 1rem;
  line-height: 1.4;
}

.link {
  font-family: rundaBold, sans-serif;
  color: #000000;
  text-decoration: none;
}

.link:hover {
  opacity: 0.5;
}

@keyframes fade {
  0%,
  75% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

@media (min-width: 40em) {
  .root {
    font-size: 1.25rem;
  }

  .container {
    padding-left: 5rem;
    padding-right: 5rem;
  }

  .paragraph {
    margin-top: 1.25rem;
  }

  .footer {
    max-width: 11rem;
    margin-top: 2.5rem;
  }
}
